<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
  />
<footer class="footer">
<div class="footer-items">
    <div class="item">
    <h3>Products</h3>
    <ul>
        <li>Auto</li>
        <li>Home</li>
        <li>Business</li>
        <li>Employee Benefits</li>
        <li>Mutual Funds</li>
    </ul>
    </div>

    <div class="item">
    <h3>Company</h3>
    <ul>
        <li>About Us</li>
        <li>Careers</li>
        <li>Agents & Producers</li>
        <li>Newsroom</li>
        <li>Investor Relations</li>
        <li>Mobile App</li>
    </ul>
    </div>

    <div class="item">
    <h3>Connect</h3>
    <ul>
        <li>Contact Us</li>
        <li>Report a Claim</li>
        <li>Find an Agent</li>
        <li>Small Business Playbook</li>
        <li>Small Biz Ahead</li>
        <li>Extra Mile</li>
    </ul>
    </div>

    <div class="item account">
    <h3>Access Your Account</h3>
    <p>
        View your policy, pay your bill, view claims status and more.
    </p>

    <button class="login-btn">Auto & Home Login</button>
    <button class="login-btn">Business Insurance Login</button>
    </div>
</div>
<hr />
<div class="logo-icons">
    <div>
        <img src="horizontal_logo.png" alt="">
    </div>

    <div class="social-icons">
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-facebook-f"></i>
    <i class="fa-brands fa-linkedin-in"></i>
    <i class="fa-brands fa-youtube"></i>
    </div>
</div>

<div class="footer-links">
    <span>Legal Notice</span>
    <span>Accessibility Statement</span>
    <span>Producer Compensation</span>
    <span>EEO</span>
    <span>Privacy Policy</span>
    <span>Your California Privacy Choices</span>
</div>

<div class="copyright">
    © 2026 Angular Training
</div>
</footer>


