<div class="navbar">
    <img src="logo.png" alt="" class="logo">
    <ul class="menu">
        <a href="#auto"><li>Auto</li></a>
        <a href="#home"><li>Home</li></a>
        <a href="#business"><li>Business</li></a>
        <a href="#employeeBenefits"><li>Employee Benefits</li></a>
        <a href="#about"><li>About</li></a>
    </ul>
    <div class="search">
        <input type="text" placeholder="Help me find..." class="searchInput">
        <img src="image.png" alt="" class="searchImage">
    </div>
</div>