.navbar {
  display: flex;
  justify-content: center; 
  gap: 30px;            
  padding: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
}

.navbar a {
  text-decoration: none;
  color: #666;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  padding: 8px 12px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.navbar a:hover {
  color: #ffffff;
  background-color: #906f9a;
}

.navbar a.active {
  color: #ad1fc0;
  background-color: rgb(244, 223, 242);
  font-weight: 600;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}