<div>
    <h1>Insurance Types</h1>
<div class="cards">
    <div class="card">
        <p class="name">Auto Insurance</p>
        <img src="icon_auto_color.svg" alt="">
    </div>
    <div class="card">
        <p class="name">Home Insurance</p>
        <img src="icon_home_color.svg" alt="">
    </div>
    <div class="card">
        <p class="name">Business Insurance</p>
        <img src="icon_business_color.svg" alt="">
    </div>
    <div class="card">
        <p class="name">Employee Benefits</p>
        <img src="icon_benefits_color.svg" alt="">
    </div>
</div>
</div>